<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
      {{>navbar}}

    <div class="container-fluid main-header" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto" >
               <div class="row">
                
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/about.png.png" alt="deepak" class="img-fluid" title="rao technical">
                    </figure>
                </div>

                   <div class="col-md-6 col-12 main_header_left">
                      <p>Welcome to weather app</p>
                      <h1>I Am <span class="text_clr"> Full Stack Developer </span> Gamer and  Student</h1>
                      <a href="https://www.instagram.com/kr_deepak25/"><button>About Me</button></a>
                   </div>
                
               </div>
            </div>
        </div>
    </div>


    {{>footer}}
</body>
</html>